.itemsListWrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
}
.itemsTitleWrapper {
    display: flex;
    justify-content: space-around;
    border: 1px solid #DFE5EC;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    background: #fff;
}
.item__title {
    width: 150px;
    text-align: center;
    font-weight: bold
}
.itemsWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #DFE5EC;
    box-sizing: border-box;
    padding: 10px;
    margin: 5px;
}
.item {
    display: flex;
    border: 1px solid #DFE5EC;
    box-sizing: border-box;
    padding: 5px;
    margin: 5px;
    background: #fff;
}
.item__item {
    width: 150px;
    text-align: center;
}